@import 'mixins\media-queries';
@import 'mixins\mixins';
@import 'mixins\base64img';
@import 'font-awesome';
@import 'vars';
@import 'ui';
@import 'animations';
@import 'forms';
@import 'css';
@import 'pages/header';
@import 'pages/home';