/* http://fontawesome.io/assets/font-awesome/fonts/ */
// @font-face {
// 	font-family: 'FontAwesome';
// 	src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
// 	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
// 	url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
// 	url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
// 	url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-smooth:always;
// 	font-smoothing:always;
// 	-webkit-font-smoothing:antialiased;
// 	-moz-font-smoothing:antialiased;
// }
// .font-awesome{
// 	&:before {
// 		font-family: FontAwesome;
// 		display: inline-block;
// 		position: relative;
// 		color: inherit;
// 		text-decoration: none;
// 		vertical-align: middle;
// 		line-height: 22px;
// 		font-size: 22px;
// 		margin-right: 10px;
// 	}
// }

a,a:hover,a:active{text-decoration:none;}

.animated{@include transition(all, 0.3s, $timingFunction,0ms);}
.without-left{padding-left:0;}
.without-right{padding-right:0;}
.hidden{display:none!important;}
.no-radius{border-radius:0;}
.radius{border-radius:3px;}
.no-border{border:0px;}


.header{background-color:$header-background;}
.footer{background-color:$footer-background;}

.header, .footer {
	float:left;
	padding:32px 0;
	width:100%;
}
.header, .footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}