.game{
	max-width:647px;
	height:184px;
	margin:0 auto;
	padding-top:30px;
}

.players{
	list-style:none;
	text-align:center;
	margin: 0;
	padding: 0;
	li{
		position:relative;
		width:80px;
		display: inline-block;
		margin:0 10px;
	}
	img{
		width:80px;
		height:80px;
		background:#fba;
		border-radius:100%;
		@include bx(0px, 0px, 0px, 3px, rgb(255,255,255));
	}
	.name{
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		background: #323232;
		border-radius: 5px;
		height: 20px;
		color: #fff;
	}
}
.timeline{
	list-style:none;
	margin:17px auto 0 auto;
	padding:0;
	max-width:647px;
	text-align: center;
	li{
		display: inline-block;
		width:100%;
		float:left;
		&:first-child .cards{margin-top:5px;}
	}
}

.right-side {
	width: 60%;
	float: right;
	position: relative;
}

.cards{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 15px;
	position: absolute;
	float: right;
	left: -175px;
	width: 160px;
	height: 100%;
	border-right:2px solid #cecece;
	&:before{
		content: "";
		position: absolute;
		background: url(../img/sprite.png) no-repeat -25px 0;
		width: 12px;
		height: 13px;
		right: -7px;
	}
	li{
		position:relative;
		display: inline-block;
		float:right;
		margin:0;
		height:50px;
		width:32px;
		color:#fff;
		font-size:20px;
		&.red{background-color:$red-card;}
		&.black{background-color:$black-card;}
		> span{
			font-family: "serif";
			position: relative;
			left: 6px;
			display: block;
			height: 20px;
			width: 18px;
		}
		&:last-child{
			width:32px;
		}
		&:first-child{
			width:48px;
		}
	}
}
.moves{
	font-size: 15px;
	padding:0;
	margin:0;
	li{
		width: 100%;
		display: block;
		position: relative;
		color:#323232;
		text-align:left;
		> span{
			position:relative;
			display: inline;
		}
	}
}
.pot{
	padding:1px 3px;
	background:#d8dbd6;
}

.stars{
	position: relative;
	padding: 2px 5px;
	background: #d8dbd6;
	right: -10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	&:before{
		position: absolute;
		left: -9px;
		top: 0px;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 9px 9px 0;
		border-color: transparent #d8dbd6 transparent transparent;
		line-height: 0px;
		_border-color: #000000 #d8dbd6 #000000 #000000;
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	}

	> span{
		width:15px;
		display: inline-block;
		color:#fff;
		&:before{
			font-size:16px;
		}
		&.selected{
			color:#ffa800;
		}
		&:last-child{
			margin-right:4px;
		}
	}
}

.header-wrapper{
	background: #3c9b03;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #3c9b03 0%, #245b01 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c9b03), color-stop(100%,#245b01));
	background: -webkit-linear-gradient(top, #3c9b03 0%,#245b01 100%);
	background: -o-linear-gradient(top, #3c9b03 0%,#245b01 100%);
	background: -ms-linear-gradient(top, #3c9b03 0%,#245b01 100%);
	background: linear-gradient(to bottom, #3c9b03 0%,#245b01 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9b03', endColorstr='#245b01',GradientType=0 );
	height: 184px;
}