.advertisement{
	margin-bottom: 30px;;
}

.event-list{
	list-style:none;
	padding:0px;
	margin:0 0 10px 0;
	li{
		width: 305px;
		height: 192px;
		position: relative;
		float: left;
		background: #f8f8f8;
		margin:7px;
		&:before{
			content:"";
			position:absolute;
			top:10px;
			left:10px;
		}
		&.red{
			&:before{
				@include sprt (-108px,-1px,56px,56px);
			}
			.follow-event{background-color:$second-red;}	
		}
		&.blue{
			&:before{
				@include sprt (-165px,-1px,56px,56px);
			}
			.follow-event{background-color:$main-blue;}
		}
		&.gray{
			&:before{
				@include sprt (-51px,-1px,56px,56px);
			}
			.follow-event{background-color:#f2f2f2;color:#424242;}
		}
		.infos{
			width: 100%;
			display: block;
			font-size: 13px;
			position:absolute;
			@extend .font-awesome;
			&:before{
				font-size:16px;
			}
		}
		.data{
			top: 40px;
			width: 76%;
			right: 0;
			text-align: left;
		}
		.local{bottom:90px;left:35px;}
		.buyin{bottom:70px;left:35px;}
		.follow-event{
			position: absolute;
			height:48px;
			width:100%;
			display: block;
			bottom:0px;
			left:0px;
			color:#fff;
			font-size: 18px;
			line-height: 48px;
			&:before{
				left: 80px;
				top: 15px;
			}
			&.warn{
				background-color:#f2f2f2;
				color:#424242;
				&:before{
					left:100px;
				}
			}
		}
		.title{
			position: absolute;
			top: 0px;
			right: 0px;
			font-size: 20px;
			margin: 10px 0 0 0;
			text-align: left;
			width: 76%;
		}
	}
}
.see-more{
	@extend .font-awesome;
	width: 121px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	margin: 0 auto;
	display: block;
	background: #f2f2f2;
	color:#000;
	position:relative;
	&:before{
		position: absolute;
		left: 10px;
		top: 7px;
		font-size: 15px;
	}
}